[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "oeis.tools"]
	path = oeis.tools
	url = https://github.com/oeistools/oeis-tools-r
